.header-top .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5px;
}

.header-top .inner-left img {
  width: 117px;
}

.header-top .inner-left span {
  color: #222;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.313em;
  line-height: 1.5em;
}

.header-top .inner-right ul {
  display: flex;
  gap: 44px;
}

.header-top .inner-right li {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.header-top .inner-right li > img {
  width: 36px;
}

.header-top .inner-right li > span {
  color: #666;
  line-height: 1.462em;
}

.header-menu {
  z-index: 10;
  position: relative;
  border-top: 0.5px solid #cacaca;
}

.header-bottom {
  position: absolute;
  z-index: 2;
  background-color: var(--color-red);
  height: 2px;
  width: 100%;
}
.header-menu > .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header-menu .inner-left ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-menu .inner-left li {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-black);
  line-height: 1.5em;
  cursor: pointer;
}

.header-menu .inner-left li:first-child {
  display: none;
}

.header-menu .inner-left strong {
  color: var(--color-red);
  font-weight: 700;
}

.header-menu .menu-dropdown {
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  display: block;
  width: 100vw;
  height: 0;
  left: 0;
  top: 51px;
  bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #666;
  transition: height 0.5s;
}

.header-menu .menu-dropdown .inner > ul {
  display: flex;
  gap: 25px;
}

.header-menu .menu-dropdown .menu__item {
  width: 130px;
  height: 250px;
  border-right: 1px solid #cacaca;
  margin-top: 18px;
}

.header-menu .menu-dropdown .menu__item:last-child {
  border-right: 0;
}

.header-menu .menu-dropdown .menu__title {
  font-weight: 700;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
  margin-bottom: 8px;
}

.header-menu .menu-dropdown .menu__name {
  font-size: 14px;
  line-height: 2.143em;
  cursor: pointer;
}

.header-menu .menu-dropdown .menu__name:hover {
  text-decoration: underline;
}

.header-menu .search-bar {
  display: flex;
  align-items: center;
  height: 20px;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  padding: 0 10px;
  margin: 10px 0;
}

.header-menu .search-btn {
  width: 26px;
  height: 26px;
  background-image: url("../images/search.png");
  background-size: contain;
}

.header-menu .inner-right input {
  border: 0;
  width: 180px;
  height: 24px;
  background: transparent;
}

.header-menu .inner-right img {
  height: 24px;
}

.header-menu.header-menu--fixed {
  position: fixed;
  width: 100%;
  top: 0;
  border-top: 0;
  background: linear-gradient(
    to right,
    rgb(215, 67, 87),
    rgb(241, 79, 58) 59%,
    rgb(239, 100, 47)
  );
}

.header-menu.header-menu--fixed .inner {
  height: 60px;
}

.header-menu.header-menu--fixed .inner-left li {
  color: white;
}

.header-menu.header-menu--fixed.header-menu .inner-left strong {
  color: #fff;
  font-weight: 700;
}

.header-menu.header-menu--fixed .menu-dropdown {
  top: 61px;
}

.header-menu.header-menu--fixed .inner-right .search-bar {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.header-menu.header-menu--fixed .search-btn {
  width: 26px;
  height: 26px;
  background-image: url("../images/searchWhite.png");
  background-size: contain;
}

.header-menu.header-menu--fixed .search-btn {
  width: 26px;
  height: 26px;
  background-image: url("../images/searchWhite.png");
  background-size: contain;
}

.header-menu.header-menu--fixed .inner-left li:first-child {
  display: block;
}

.header-menu.header-menu--fixed .inner-left li:first-child img {
  height: 32px;
}
