@import "./header.css";
body {
  color: #666;
  font-family: "Noto Sans KR";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  --color-red: #fb4357;
  --color-black: #222;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.inner {
  width: 991px;
  margin: 0 auto;
}

.round-btn {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 8px 5px 18px;
  font-size: 14px;
  color: #343434;
  line-height: 1.429em;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.tab-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.tab-row .line {
  width: 1px;
  height: 14px;
  background-color: #d8d8d8;
}

.tab-btn {
  font-weight: 400;
  font-size: 26px;
  color: #666;
  line-height: 1.423em;
  cursor: pointer;
}

.tab-btn .active {
  font-weight: 700;
  color: #222;
}

.tab-btn__active .tab-btn .swiper {
  width: 600px;
  height: 300px;
}

.swiper-button-next {
}
/* .round-btn::after {

} */

/* Chart Section */

#chart-section {
  padding: 50px 30px 60px 30px;
  background-color: #fcfcfc;
}

#chart-section .active {
}
