@import "./header.css";
body {
  color: #666;
  font-family: "Noto Sans KR";
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  --color-red: #fb4357;
  --color-black: #222;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.inner {
  width: 991px;
  margin: 0 auto;
}

.round-btn {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 8px 5px 18px;
  font-size: 14px;
  color: #343434;
  line-height: 1.429em;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.tab-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.tab-row .line {
  width: 1px;
  height: 14px;
  background-color: #d8d8d8;
}

.tab-btn {
  font-weight: 400;
  font-size: 26px;
  color: #666;
  line-height: 1.423em;
  cursor: pointer;
}

.tab-btn .active {
  font-weight: 700;
  color: #222;
}

.tab-btn__active .tab-btn .swiper {
  width: 600px;
  height: 300px;
}

/* .round-btn::after {

} */

/* Chart Section */
section .swiper {
  overflow: visible;
}
section .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  right: -20px;
  top: calc(50% - 26px);
  color: #3b3b3b;
  font-size: 24px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

section .swiper-button-next::after {
  content: "";
}

section .swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  left: -20px;
  top: calc(50% - 26px);
  color: #3b3b3b;
  font-size: 24px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  transform: rotate(-180deg);
}
section .swiper-button-prev i {
  /* transform: rotateX(90deg); */
}

section .swiper-button-prev::after {
  content: "";
}

section .swiper-button-disabled {
  display: none;
}

.chart-section {
  counter-reset: movie-chart-counter;
  padding: 50px 30px 60px 30px;
  background-color: #fcfcfc;
}

.chart-section > .inner {
  padding: 0 24px;
  overflow: hidden;
}

.chart-section .poster-card {
  width: 170px;
  counter-increment: movie-chart-counter;
}

.chart-section .poster-card .poster-image-wrapper {
  overflow: hidden;
  position: relative;
  width: 170px;
  height: 234px;
  border-radius: 10px;
}

.chart-section .poster-card .poster-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.09) 35%,
    rgba(0, 0, 0, 0.85)
  );
  z-index: 2;
}

.chart-section .poster-card .poster-wrapper::after {
  content: counter(movie-chart-counter);
  position: absolute;
  left: 9px;
  bottom: -4px;
  font-weight: 400;
  font-size: 50px;
  font-style: italic;
  color: #fff;
  line-height: 1em;
  z-index: 3;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.45);
}

.chart-section .poster-card:hover .poster-wrapper {
  display: none;
}

.chart-section .poster-card:hover .poster-card_hover {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.chart-section .poster-card .poster-image-wrapper img {
  width: 100%;
}

.chart-section .poster-card .age-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right: 6px;
  top: 7px;
  z-index: 4;
}

.chart-section .card-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 34px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.462em;
  border-radius: 4px;
}
.chart-section .card-btn:hover {
  opacity: 0.8;
}
.chart-section .card-btn.btn-white {
  color: #666;
  background-color: #fff;
}
.chart-section .card-btn.btn-red {
  color: #fff;
  background-color: #fb4357;
}

.chart-section .poster-card .poster-name {
  overflow: hidden;
  margin-top: 14px;
  font-size: 18px;
  color: #222;
  line-height: 1.167em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chart-section .poster-card .egg-img {
  width: 16px;
}

.chart-section .poster-card .egg-row {
  display: flex;
  align-items: center;
}

.chart-section .poster-card .rate-row {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 9px;
}
